<div class='portrait'>
  <h1 id='displayName' class='displayName'></h1>
  <h3 id='class'></h3>
  <h3 id='race'></h3>
  <div id='profile'><img src='' id='profile-pic' /></div>
</div>

<div class='bars'>
  <div id='hpcontainer'>
    <div id='fade'>
      <hp>
        <span id='curr_hp'></span>/<span id='max_hp'></span>
      </hp>
    </div>
  </div>
  <div id='expcontainer'>
    <exp>
      <div id='exp_text'><span id='expval'></span>/<span id='exp_next'></span></div>
    </exp>
  </div>

  <div class='left'><button class='hp admin' value='-1'>-1</button><button class='hp admin' value='-5'>-5</button><button class='hp admin' value='-10'>-10</button></div>
  <div class='right'><button class='hp admin' value='1'>1</button><button class='hp admin' value='5'>5</button><button class='hp admin' value='10'>10</button></div>

</div>
