<div id='stat-vals'>
  <div class='prof_bonus'>
    <stat>
      <span class='name'><h4>Proficiency</h4></span>
      <span id='prof_val'></span>
    </stat>
  </div>
  <stat>
    <div class='stat'>
      <span class='name'><h4>Str:</h4></span>
      <div class='stat-vals'>
        <span class='val' id='str_score'></span><br>
        (<span class='val' id='str_bonus'></span>)
      </div>
    </div>

    <div class='abilities'>
      <span class='prof' id='1_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='str' id='1_val'></span><span> Saving Throw</span><br>
      <span class='prof' id='2_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='str' id='2_val'></span><span> Athletics</span><br>
    </div>
  </stat>

  <stat>
    <div class="stat">
      <span class='name'><h4>Dex:</h4></span>
      <div class='stat-vals'>
        <span class='val' id='dex_score'></span><br>
        (<span class='val' id='dex_bonus'></span>)
      </div>
    </div>
    <div class='abilities'>
      <span class='prof' id='3_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='dex' id='3_val'></span><span> Saving Throw</span><br>
      <span class='prof' id='4_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='dex' id='4_val'></span><span> Acrobatics</span><br>
      <span class='prof' id='5_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='dex' id='5_val'></span><span> Sleight of Hand</span><br>
      <span class='prof' id='6_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='dex' id='6_val'></span><span> Stealth</span><br>
    </div>
  </stat>

  <stat>
    <div class='stat'>
      <span class='name'><h4>Con:</h4></span>
      <div class='stat-vals'>
        <span class='val' id='con_score'></span><br>
        (<span class='val' id='con_bonus'></span>)
      </div>
    </div>

    <div class='abilities'>
      <span class='prof' id='7_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='con' id='7_val'></span><span> Saving Throw</span><br>
    </div>
  </stat>

  <stat>
    <div class='stat'>
      <span class='name'><h4>Int:</h4></span>
      <div class='stat-vals'>
        <span class='val' id='int_score'></span><br>
        (<span class='val' id='int_bonus'></span>)
      </div>
    </div>

    <div class='abilities'>
      <span class='prof' id='8_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='int' id='8_val'></span><span> Saving Throw</span><br>
      <span class='prof' id='9_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='int' id='9_val'></span><span> Arcana</span><br>
      <span class='prof' id='10_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='int' id='10_val'></span><span> History</span><br>
      <span class='prof' id='11_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='int' id='11_val'></span><span> Investigation</span><br>
      <span class='prof' id='12_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='int' id='12_val'></span><span> Nature</span><br>
      <span class='prof' id='13_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='int' id='13_val'></span><span> Religion</span><br>
    </div>
  </stat>

  <stat>
    <div class='stat'>
      <span class='name'><h4>Wis:</h4></span>
      <div class='stat-vals'>
        <span class='val' id='wis_score'></span><br>
        (<span class='val' id='wis_bonus'></span>)
      </div>
    </div>
    <div class='abilities'>
      <span class='prof' id='14_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='wis' id='14_val'></span><span> Saving Throw</span><br>
      <span class='prof' id='15_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='wis' id='15_val'></span><span> Animal Handling</span><br>
      <span class='prof' id='16_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='wis' id='16_val'></span><span> Insight</span><br>
      <span class='prof' id='17_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='wis' id='17_val'></span><span> Medicine</span><br>
      <span class='prof' id='18_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='wis' id='18_val'></span><span> Perception</span><br>
      <span class='prof' id='19_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='wis' id='19_val'></span><span> Survival</span><br>
    </div>
  </stat>

  <stat>
    <div class='stat'>
      <span class='name'><h4>Cha:</h4></span>
      <div class='stat-vals'>
        <span class='val' id='cha_score'></span><br>
        (<span class='val' id='cha_bonus'></span>)
      </div>
    </div>
    <div class='abilities'>
      <span class='prof' id='20_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='cha' id='20_val'></span><span> Saving Throw</span><br>
      <span class='prof' id='21_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='cha' id='21_val'></span><span> Deception</span><br>
      <span class='prof' id='22_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='cha' id='22_val'></span><span> Intimidation</span><br>
      <span class='prof' id='23_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='cha' id='23_val'></span><span> Performance</span><br>
      <span class='prof' id='24_prof'><i class="fa fa-check" aria-hidden="true"></i></span><span class='cha' id='24_val'></span><span> Persuasion</span><br>
    </div>
  </stat>
</div>
